// config nib
flex-version = flex
support-for-ie = true
vendor-prefixes = official

// Colors
azul = #282e6c
blanco = #ffffff
fondo-celeste = #3bcac8
celeste = #0382a6
casi-negro = #333333
fondo-gris = #f5f5f5
verde = #95cf45
Oldtexto = #787878 // Back
texto = #8a8a8a
texto2  = #8c8c8c
language = #37adac

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800')
monse(s = 1em, w = 400)
  font-family 'Montserrat', sans-serif
  font-size s
  font-weight w

// Global Classes
*
  outline none !important
  text-rendering optimizeLegibility !important

.button-blue,.button-green
  border none
  color blanco
  display block
  margin 0 auto
  padding 10px 25px
  &:hover
    cursor pointer
.button-blue
  background-color azul
  monse(1.2em, 700)
.button-green
  background-color verde
  monse(1em, 700)
.celeste
  background-color darken(fondo-celeste, 8)
  color blanco


// General
header
  background-position center
  background-repeat no-repeat
  background-size cover
  &.home
    background-image url('../images/back.png')
    padding-bottom 30px
    &.content-bottom-contact
      margin-bottom -300px
      padding-bottom 350px
    &.content-bottom
      margin-bottom -200px
      padding-bottom 250px

footer
  align-items center
  display flex
  flex-direction column
  justify-content center
  padding 30px 0 10px 0
  width 100%
  p
    monse(1em, 400)
    color texto
    margin-bottom 0
    text-align center
    width 100%
  ul
    align-items center
    display flex
    flex-direction row
    justify-content space-evenly
    max-width 1000px
    width 100%
    li
      a
        color texto !important
        monse(1em, 400)
      span
        background-image url('../images/icons.png')
        background-repeat no-repeat
        display inline-block
        height 50px
        vertical-align middle
        width 50px
        &.map
          background-position 2px 2px
        &.mail
          background-position -50px 2px
        &.tel
          background-position -98px 2px
  +below(700px)
    ul
      flex-direction column
      margin 0 auto
      li
        padding 5px 0
  +below(500px)
    img
      max-width 350px
      width 90%

.margin-top
  margin 100px auto 0 auto !important

.comma-back
  background-image url('../images/comma1.png'), url('../images/comma2.png')
  background-repeat no-repeat, no-repeat

.content-profixa
  margin 0 auto
  max-width 1300px
  width 100%
  h2
    color texto
    monse(2.2em, 500)
    text-align center

.content-profixa-text
  font-size 15px
  margin 0 auto
  max-width 1280px
  text-align justify
  width 96%
  +below(768px)
    text-align left
    
  
.grid-content
  align-items center
  background-color azul
  display flex
  margin 10px auto
  max-width 580px
  div
    padding-right 15px
    text-align right
    button
      display inline-block !important
      margin-top 10px
  img
    height auto
    min-width 126px
    width 126px
  p
    color blanco
    monse(0.8em, 400)
    padding-left 20px
    text-align left
    span
      display block
      color lighten(celeste, 30)
      monse(1.2em, 500)
      padding-bottom 10px
      text-transform uppercase
  +below(400px)
    div
      padding 20px 10px 20px 0
    img
      display none

.sidenav
  *
    color texto !important
  .responsive-img
    display block
    margin 20px auto
    width 85%

.language-item
  background-color language
  border none
  border-radius 3px
  color blanco !important
  display inline-block
  monse(1em, 800)
  line-height 2
  padding 4px 10px

.menu-head
  align-items center
  display flex
  justify-content space-between
  .sidenav-trigger
    display none
    i
      color blanco
  ul
    align-items center
    display flex
    justify-content space-between
    padding 0
    li
      a:hover,span:hover
        cursor pointer
      > a
        color blanco !important
        display inline-block
        monse(1em, 700)
        padding 5px 10px
        &:hover
          color azul !important
      span
        background-color language
        border none
        border-radius 3px
        color blanco !important
        monse(1em, 800)
        padding 4px 10px
        a
          color blanco !important
  #logo-profixa
    max-width 240px
  +below(1120px)
    padding 15px 20px 5px 20px
    .sidenav-trigger
      display inline-block !important
    ul
      display none !important

.gray-back
  background-color fondo-gris

.services
  margin 0 auto
  max-width 1000px
  width 98%
  .service-content
    margin-bottom 50px
    relative top left
    padding-bottom 100px
    img
      height auto
      max-width 100%
    p
      absolute bottom left
      background-color blanco
      box-shadow 0 0 7px 0px rgba(casi-negro, 0.1)
      color texto
      font-size 14px
      max-width 750px
      padding 4rem 3rem
      width 100%
      span
        display block
        color celeste
        monse(1.6em, 700)
  +below(850px)
    width 95%
    .service-content
      padding-bottom 0px
      p
        margin-top -5px
        padding 2rem 15px
        relative bottom left
        max-width none !important
        span
          margin-bottom 10px

.contact
  align-items flex-end
  display flex
  justify-content space-between
  margin 0 auto
  max-width 1000px
  width 98%
  div
    color blanco
    monse(1.1em, 400)
    width 50%
    a
      display inline-block
      margin-top 60px
    h2
      monse(2.5em, 700)
      text-shadow 0 0 1px rgba(casi-negro, 0.3)
  img
    max-width 450px
    width 100%
  +below(800px)
    align-items center
    flex-direction column
    justify-content center
    div,img
      margin-bottom 20px
      width 90%
    div
      text-align center
      h2
        monse(2em, 700)
  +above(1700px)
    margin-bottom 120px !important
  +below(400px)
    div
      margin-top -50px
      a
        margin-top 20px

.take-form
  margin 30px auto
  max-width 1000px
  width 98%
  .input-field
    label
      padding-left 10px
      &.active
        color texto !important
        padding-left 0 !important
        transform translateY(-18px) scale(0.8) !important
  form
    padding 20px 0
    input,textarea
      background-color blanco
      border 1px solid rgba(casi-negro, 0.3) !important
      color texto
      padding-left 10px !important
    textarea
      height 211px
      resize none
    span
      color celeste
      display block
      margin-bottom 40px
      monse(1.4em, 700)
      padding 10px 0
      text-align center

.insights-content
  margin 0 auto
  max-width 1280px
  .gray-back
    align-items center
    display flex
    margin 0 auto 3rem auto
    justify-content space-between
    width 98%
    div
      color texto
      max-width 900px
      monse(14px, 400)
      padding 1rem 2rem
      width 100%
      a
        display inline-block !important
      .titulo
        color celeste
        monse(1.5em, 700)
    img
      height auto
      max-width 350px
      width 100%
    table
      max-width 600px
      width 96%
      *
        border none
        color texto
        monse(1em, 700)
        padding 0 0 4px 0
  +below(768px)
    .gray-back
      img
        max-width 300px !important
  +below(650px)
    .gray-back
      flex-direction column
      max-width 480px
      img
        max-width 350px !important

.section
  padding-bottom 2rem
  padding-top 2rem

.simple-text
  color blanco
  margin 0
  min-height 340px
  monse(14px, 400)
  padding 2.5rem 2rem
  span
    display block
    monse(2.5em, 700)
    padding-bottom 20px
  &.blue-text-about
    background-color azul
  &.lightblue-text
    background-color darken(fondo-celeste, 10)
  &.gray-text
    background-color fondo-gris
    color texto !important
    span
      color celeste !important

.moveUp
  padding 4rem 0 7rem 0
  .top,.bottom
    display flex
    flex-wrap wrap
    justify-content space-around
    margin 0 auto
    max-width 1200px
    width 100%
  .top
    align-items flex-end
    margin-bottom 5rem
    p
      max-width 550px
      width 60%
    img
      height auto
      max-width 400px
      width 40%
  .bottom
    align-items flex-start
    .photo
      max-width 400px
      width 30%
      img,p
        display flex
        width 100%
      p
        background-color verde
        color blanco
        margin 0
        padding 10px 20px
        text-align left
    .texts
      align-items flex-start
      display flex
      flex-wrap wrap
      justify-content space-between
      max-width 800px
      width 60%
      .simple-text        
        max-width 360px
        width 43%
      .comma-back
        background-position top left, bottom right
        background-size 70px auto
        color texto
        margin-top 40px
        padding 50px 70px
        width 100%
  +below(768px)
    .comma-back
      margin-top 0px !important
    .top,.bottom
      align-items center
      flex-direction column
      justify-content center
    .bottom
      .photo,.texts
        margin-bottom 10px
        width 95%
      .photo
        max-width 250px
      .hide-img
        display none
      .texts
        .photo
          display block !important
          margin 20px auto 0 auto
    .top
      p,img
        max-width 500px
        width 98%
      p
        margin-bottom 20px
  +below(600px)
    background-size 100% auto, auto
    padding-bottom 2rem
    .bottom
      .texts
        align-items center !important
        justify-content center !important
        .simple-text
          margin-bottom 10px
          min-height auto
          width 100% !important
        .comma-back
          background-image none
          padding 40px 20px
  +below(535px)
    padding-top 2rem


.square-back
  background-image url('../images/square1.jpg'), url('../images/square2.jpg')
  background-repeat no-repeat, no-repeat
  background-position bottom left, 90% 0px


.title-gray
  color texto2
  monse(2.7em, 500)
  text-align center
  width 100%

.top-content
  align-items center
  background-color fondo-gris
  display flex
  justify-content center
  max-width 1280px
  relative top 80px left
  width 100%
  > div
    padding 0 0 20px 0
  p
    color texto
    padding 1rem 4rem
    text-align left
    button
      display inline-block !important
  +below(845px)
    flex-direction column
    padding 10px 0
    img
      width 100%

h1.main-title
  color blanco
  display block
  margin 90px auto 30px auto
  monse(45px, 700)
  text-align center
  width 98%
  span
    display block
    monse(45px, 500)
    letter-spacing 2px
    padding 10px 0
  +below(600px)
    margin 40px auto 20px auto
    monse(30px, 700)
    span
      monse(30px, 500)

#news
  relative top left
  padding-bottom 20px
  .row
    relative top left
    z-index 3
  .aux-background
    absolute bottom left
    background-color fondo-celeste
    height 80%
    width 100%
    z-index 1
    +below(400px)
      height 90%

#contact
  .title-gray
    color blanco
    margin-top 0
    monse(35px, 700)
    text-align center
    width 100%
    +below(600px)
      monse(30px, 700)
  .input-field
    label
      padding-left 10px
      &.active
        color blanco !important
        padding-left 0 !important
        transform translateY(-18px) scale(0.8) !important
  .map
    background-image url('../images/map.jpg')
    background-position center
    background-repeat no-repeat
    background-size cover
    display inline-block
    height 300px
    margin-bottom -6px
    width 100%
  form
    background-image url('../images/back.png')
    background-position center
    background-repeat no-repeat
    background-size cover
    padding 20px 0
    input,textarea
      background-color blanco
      border none !important
      color texto
      padding-left 10px
    textarea
      height 211px
      resize none
    span
      color blanco
      display block
      monse(1.8em, 700)
      padding 10px 0
      text-align center

#testimonials
  background-position left 30%, right 70%
  padding 20px 0
  width 100%
  .people
    align-items center
    display flex
    justify-content space-evenly
    margin 10px auto
    max-width 1000px
    width 100%
    p
      align-items center
      display flex
      color texto
      flex-direction column
      justify-content center
      text-align center
      width 250px
      span
        align-items center
        border-radius 50%
        display flex
        color blanco
        height 130px
        justify-content center
        margin-bottom 20px
        text-align center
        width 130px
      &.blue-people
        span
          background-color azul
      &.lightblue-people
        span
          background-color fondo-celeste
      &.green-people
        span
          background-color verde
  +below(768px)
    background-image none
    padding 20px 10px
  +below(700px)
    .people
      flex-direction column

#insights
  background-image url('../images/Banner2.png')
  background-position bottom
  background-repeat no-repeat
  background-size 100% auto
  height 850px
  padding 20px 0
  width 100%
  .content-profixa
    height 90%
  .grid
    display flex
    height 100%
    margin 0 auto
    max-width 1000px
    width 90%
    .column
      display flex
      height 95%
      &.l
        width 35%
      &.r
        display flex
        flex-direction column
        justify-content space-between
        width 65%
  .notice
    background-color fondo-gris
    color texto
    font-size 13px
    margin 0 auto
    relative top left
    width 95%
    &.image
      align-items center
      background-color transparent !important
      display flex
      flex-wrap wrap
      .aux-bg
        absolute top right
        background-color fondo-gris
        height 100%
        width 70%
        z-index 1
      .content-notice,.img
        z-index 10
      .img
        width 45%
      .content-notice
        width 55%
    img
      height auto
      width 100%
    p,time
      display block
      margin 20px auto
      word-break break-word
      width 85%
      span
        display block
      a
        color texto !important
    time
      monse(1em, 400)
    .img
      relative top left
    .title-notice
      color celeste
      monse(1.2em, 700)
    .name
      color celeste
      monse(1.1em, 500)
    .green-mail
      absolute bottom right
      background-color verde
      color blanco
      monse(1em, 500)
      padding 5px 0
      width 100%
      &.max
        max-width 250px
  +below(900px)
    height auto
    .grid
      flex-direction column
      .column
        margin 0 auto
        width 90% !important
      .notice
        margin 10px auto
        padding-bottom 15px
        img,.img
          display block
          margin 0 auto
          max-width 400px
          width 100%
        .content-notice
          width 100%
    .aux-bg
      width 100% !important
  +below(600px)
    .r
      .notice.image
        .img
          .green-mail
            display none
        .hide
          display inline-block !important
          z-index 10
      .notice 
        .green-mail.max
          max-width 100% !important
          width 100% !important
  +below(500px)
    .grid
      width 98%
      .column
        width 100% !important
          
.social
  display block
  margin 25px auto 20px auto
  text-align center
  width 95%
  .social-icon
    background-image url('../images/social.png')
    background-repeat no-repeat
    display inline-block
    height 52px
    width 52px
    &.fb
      background-position 0 0
    &.in
      background-position -56px 0
    &.tw
      background-position -111px 0
    &:hover
      cursor pointer